* @marcelo-roman
/services/api/ @marcelo-roman
/services/functions/ @marcelo-roman
/services/insights/ @marcelo-roman
/apps/web/ @marcelo-roman
/infra/ @marcelo-roman
/docs/ @marcelo-roman
/local/ @marcelo-roman
/.github/ @marcelo-roman
/contracts/ @marcelo-roman
